body {
    margin: 0;
    padding: 0;
    background: url("../assests/baground.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox {
    width: 300px;
    height: 380px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 33%;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox {
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.loginbox input {
    width: 80%;
    margin-bottom: 5px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    background: #fb2525;
    font-size: 18px;
    border-radius: 20px;
    margin-left: 20px;
    padding-left: -10px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

#btn {
    padding: 15px 20px;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(77, 107, 125);
    padding: 40px;
}

.loginbox a :hover {
    cursor: pointer;
    background: #ffc107;
}